@charset "utf-8";


body {
    font-family: Arial, "Sans Serif", "微軟正黑體";
}


a {
    cursor: pointer;
}






/*------------------------------------------------
-                                                -
-                   Header                       -
-                                                -
------------------------------------------------*/

header .navbar {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
}

header .navbar-brand {
    width: 150px;
    height: 120px;
    background-size: 100%;
    background-image: url(../images/DOMO_logo2.png);
    background-position: bottom center;
    margin: auto !important;
    float: none;
    display: block;
}

header .navbar-collapse {
    text-align: center;
}

header .navbar-nav,
header .navbar-nav li {
    float: none;
}


header .navbar-nav>li {
    display: inline-block;
    padding: 5px 0;
}

header .navbar-nav>li>a {
    color: #4e4e4e;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 12px;
}

header .navbar-nav>li:focus>a {
    background-color: rgba(0, 0, 0, 0);
}

header .navbar-nav>li:hover>a {
    background-color: rgba(0, 0, 0, 0);
    color: #666;
}

header .navbar-nav>li:active>a {
    color: #444;
}


header .navbar-nav>li>ul.dropdown-menu {
    border-radius: 8px !important;
    border-color: #f7f7f7;
    margin-left: -12px;
}

header .navbar-nav>li>ul.dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    margin-top: -15px;
    margin-left: 35px;
    position: absolute;
}

header .navbar-nav>li>ul.dropdown-menu>li>a {
    color: #666;
    padding: 8px 20px;
    border-bottom: 1px solid #EEE;
}

header .navbar-nav>li>ul.dropdown-menu>li:last-child>a {
    border-bottom: 0;
}

header .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

header li.sub_dropdown {
    position: relative;
}

header li.sub_dropdown ul.dropdown-menu {
    top: 0;
    left: 181px;
    border-radius: 8px;
    border-color: #f7f7f7;
}

header li.sub_dropdown ul.dropdown-menu>li>a {
    color: #666;
    padding: 8px 20px;
    border-bottom: 1px solid #EEE;
}



header .btn_menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    z-index: 1;
}

header .btn_menu .icon_menu .icon-bar {
    display: block;
    width: 16px;
    height: 3px;
    margin: 3px 0;
    border-radius: 1px;
    background-color: #FFF;
    transition: all 0.2s ease-out;
}

header .btn_menu:hover .icon_menu .icon-bar {
    background-color: #FFF;
}


header .btn_close_menu {
    position: absolute;
    top: 0;
    left: 80%;
    padding: 10px 15px;
}





header .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    z-index: 10;
    transition: all 0.3s ease-out, background 0.3s 0.3s ease-out;
}

header .menu.open {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}



header .menu .menu_content {
    width: 80%;
    background-color: #fff;
    overflow: auto;
    height: 100vh;
}



header .menu .menu_content ul.menu_list {
    float: left;
    width: 100%;
    padding: 15px 25px;
    font-size: 18px;
}

header .menu .menu_content ul.menu_list a {
    color: #333;
    padding: 12px 0;
    display: block;
}


header .menu .menu_content ul.menu_list a:active {
    background: #f7f7f7;
}

header .menu .menu_content ul.menu_list a:focus,
header .menu .menu_content ul.menu_list a:visited {
    text-decoration: none;
}

header .menu .menu_content ul.menu_list li.menu_group_item {
    margin-bottom: 20px;
}

header .menu .menu_content ul.menu_list li.menu_group_item>a {
    font-weight: bold;
    border-bottom: 1px solid #CCC;
}

header .menu .menu_content ul.sub_menu_group {
    margin-left: 20px;
}

header .menu .menu_content ul.sub_menu_group li>a {
    border-bottom: 1px solid #DDD;
}

header .menu .menu_content ul.third_menu_group {
    margin-left: 20px;
}

header .menu .menu_content ul.third_menu_group li>a {
    border-bottom: 1px solid #DDD;
}




@media (max-width: 767px) {
    header .navbar-brand {
        margin-left: 25px;
    }

    header .navbar-nav>li>a {
        padding: 20px 25px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    header .navbar-nav>li>a {
        padding: 10px 6px;
    }
}








/*------------------------------------------------
-                                                -
-                   Footer                       -
-                                                -
------------------------------------------------*/

footer {
    margin-top: 50px;
    padding-top: 20px;
    background: #f3f3f3;
}

footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer ul li {
    margin: 8px 0;
}

footer ul li a {
    color: #999;
    font-size: 16px;
}

footer .link_download {
    margin: 5px 0;
}

footer p {
    font-size: 16px;
}


footer .copyright {
    color: #aaa;
    font-size: 16px;
    text-align: center;
    padding: 50px 0;
}

footer .copyright span.line {
    margin: 0 10px;
    color: #CCC;
}






/*------------------------------------------------
-                                                -
-                   頁面樣式                     -
-                                                -
------------------------------------------------*/

/*------------------ 頁面-首頁 -------------------*/
.cover_block {
    background-image: url(../images/cover_bg.png);
    background-size: cover;
}

.cover_block img {
    width: 80%;
    margin: auto;
}


.imageSlider {
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    /*padding: 5px;*/
}

.slider:before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 40px;
    left: 0;
    right: calc(100% - (100% / 3));
}

.slider:after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    bottom: 40px;
    left: calc(100% - (100% / 3));
    right: 0;
}

@media (max-width: 480px) {

    .slider:before,
    .slider:after {
        display: none;
    }
}

.slick-dots {
    text-align: center;
    padding: 5px 0 15px 0;
    background-color: #dda74b;
}

.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots li.slick-active button {
    background-color: black;
}

.slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: white;
    background-color: white;
    border: none;
    width: 15px;
    height: 10px;
    border: 2px solid black;
}

.slick-dots li :hover {
    background-color: black;
}

/* Custom Arrow */
.prev {
    color: #ddd;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 2em;
    font-size: 1.5em;
}

.prev :hover {
    cursor: pointer;
    color: #fff;
}

.next {
    color: #ddd;
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 2em;
    font-size: 1.5em;
}

.next :hover {
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 800px) {

    .prev,
    .next {
        display: none !important;
    }
}





.content_block {
    padding: 30px 0;
}

.content_block .block_content {
    background: #FFF;
    overflow: hidden;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 12px;
}

.content_block .block_content.bg_transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top right;
}

.content_block .block_content .content_top {
    text-align: center;

}

.content_block .block_content .content_top h2 {
    font-size: 26px;
    margin-top: 56px;
    padding-bottom: 0;
}

.content_block .block_content .content_box {
    padding: 0 50px 40px 50px;
    font-size: 16px;
}

@media (min-width: 769px) and (max-width: 1199.98px) {
    .content_block .block_content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 768px) {
    .content_block .block_content {
        padding-left: 30px;
        padding-right: 30px;
    }
}


@media (max-width: 480px) {
    .content_block .block_content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .content_block .block_content.bg_transparent {
        background-image: none;
        padding-left: 0;
        padding-right: 0;
    }

    .content_block .block_content .content_box {
        padding: 0 0 40px 0;
        font-size: 13px;
    }

    .content_block img.decoration_arrow {
        width: 200px;
    }
}



.promotion_type.nav-tabs {
    border: 0;
}

.promotion_type.nav-tabs>li {
    width: calc(100% / 3);
    padding: 0 12px;
    margin: 16px 0;
    border-right: 1px solid #CCC;
}

.promotion_type.nav-tabs>li:last-child {
    border-right: 0;
}

.promotion_type.nav-tabs>li>a {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #333;
    line-height: 34px;
    padding: 20px 15px 10px 15px;
}

.promotion_type.nav-tabs>li>a .sub_text {
    color: #855813;
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.promotion_type.nav-tabs>li.active>a,
.promotion_type.nav-tabs>li.active>a:focus,
.promotion_type.nav-tabs>li.active>a:hover {
    background-color: #d9e9fb;
    border: 0;
    color: #333;
}

@media (min-width: 769px) and (max-width: 1199.98px) {
    .promotion_type.nav-tabs>li>a {
        font-size: 30px;
        line-height: 30px;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .promotion_type.nav-tabs {
        margin: 0 -15px;
    }

    .promotion_type.nav-tabs>li {
        padding: 0 8px;
    }

    .promotion_type.nav-tabs>li>a {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 0;
    }

    .promotion_type.nav-tabs>li>a .sub_text {
        font-size: 12px;
    }
}



.promotion_content {
    font-size: 16px;
    padding-top: 24px;
}

.promotion_content .promo_description {
    font-size: 24px;
    color: #333;
}

.promotion_content .promo_description span {
    color: #855813;
    font-weight: bold;
}

.promotion_content .main_title {
    font-size: 24px;
    color: #a87527;
    margin-bottom: 12px;
}

.promotion_content .main_title .notice_text {
    font-size: 16px;
    color: #000;
}


.promotion_content .sub_title {
    font-size: 24px;
}

.promotion_content .red_text {
    color: #ac0000 !important;
}

.promotion_content .blue_text {
    color: #0556b1 !important;
}

.promotion_content .sub_title .notice_text {
    font-size: 16px;
}

.promotion_content .list_title {
    font-size: 18px;
    margin-top: 10px;
}

.promotion_content ul.info_list li {
    list-style: decimal inside;
    margin: 8px 0;
}

.promotion_content .cover_img img {
    width: 100%;
}

.promotion_content .cover_img+.cover_description {
    margin: 12px 0 4px 0;
}

.promotion_content .cover_description+.member_name {
    color: #a87527;
    margin-bottom: 28px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.promotion_content .button_group {
    margin: 0 0 32px 0;
}

.bottom_block {
    background: #1d223e;
    padding-bottom: 50px;
    margin-bottom: -50px;
    margin-top: 300px;
    text-align: center;
}

.bottom_block img {
    margin-top: -200px;
    max-width: 100%;
}


@media (max-width: 480px) {
    .promotion_content {
        font-size: 14px;
        padding-top: 24px;
    }

    .promotion_content .promo_description {
        font-size: 16px;
    }

    .promotion_content .main_title {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .promotion_content .main_title .notice_text {
        font-size: 14px;
        color: #000;
    }


    .promotion_content .sub_title {
        font-size: 20px;
    }

    .promotion_content .sub_title .notice_text {
        font-size: 14px;
        display: block;
        margin-top: 4px;
        color: #999;
    }

    .promotion_content .card_group .info_card {
        width: 100%;
    }

    .promotion_content .card_group .info_card+.connector {
        width: 100%;
        line-height: 50px;
    }

    .promotion_content .button_group {
        margin: 20px 0;
    }


}


.fill_form .notice {
    font-size: 14px;
}

.fill_form .field_notice {
    padding: 4px 12px;
    font-size: 14px;
    color: #707070
}

.fill_form {}




/*------------------------------------------------
-                                                -
-                   共用設定                     -
-                                                -
------------------------------------------------*/
.wrapper {
    background: #eaeaea;
}

.main_content {
    min-height: calc(100vh - 105px);
}




@media (max-width: 480px) {
    /*    .main_content .content_block {
        padding-right: 10px;
        padding-left: 10px;
    }*/
}





/*---------------- 按鈕 -----------------*/


/*  按鈕 - 樣式  */

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited {
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    border-radius: 8px;
}



.btn_style1 {
    background: #8c8c8c;
    color: #FFF;
    border-color: transparent;
    transition: all .2s ease-out;
    border-radius: 0;
    padding: 15px;
}

.btn_style1:hover {
    background: #999;
    color: #FFF;
}

.btn_style1:active,
.btn_style1:focus {
    background: #777;
    color: #FFF;
}


.btn_style2 {
    background: #ceaa5b;
    color: #333;
    border-color: transparent;
    transition: all .2s ease-out;
}

.btn_style2:hover {
    background: #988a46;
    color: #FFF;
}

.btn_style2:active,
.btn_style2:focus {
    background: #847531;
    color: #FFF;
}


.btn_back_top {
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 30px;
    background: #FFF;
    margin-top: 20px;
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
}

.btn_back_top:hover {
    background: #f7f7f7;
}

.btn_back_top:active {
    background: #EEE;
}

.btn_facebook {
    position: fixed;
    z-index: 9999;
    bottom: 200px;
    right: 30px;
    background-color: white;
    margin-top: 20px;
    padding: 0;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
}

.btn_facebook img {
    width: 100%;
    opacity: 0.9;
}

.btn_facebook:hover img {
    opacity: 1;
}

.btn_line {
    position: fixed;
    z-index: 9999;
    bottom: 150px;
    ;
    right: 30px;
    background-color: white;
    margin-top: 20px;
    padding: 0;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
}

.btn_line img {
    width: 100%;
    opacity: 0.9;
}

.btn_line:hover img {
    opacity: 1;
}





/*  按鈕 - 大小  */
.btn_bigger {
    font-size: 24px;
    padding: 16px 60px;
}


@media (max-width: 480px) {
    .btn_bigger {
        font-size: 18px;
        padding: 16px 60px;
    }
}









/*  按鈕 - 禁用樣式  */

.btn[disabled],
.btn[disabled]:hover {
    background: #DDD;
    color: #FFF;
    border: 0;
}





/*  按鈕 - 群組(雙按鈕)  */

.button_group {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.button_group .btn {
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 480px) {
    .button_group .btn {
        margin-left: 10px;
        margin-right: 10px;
    }

}










/*  按鈕 - 大小  */

.btn.btn-lg {
    height: 45px;
    line-height: 20px;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 8px;
}

.btn.btn-sm {
    height: 35px;
    line-height: 23px;
    border-radius: 8px;
}







/*----------- 表單 / 輸入框 ----------*/


.fill_form {
    float: left;
    width: 100%;
}

.fill_form:after {
    content: "";
    clear: none;
}

.fill_form .form_content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
}

.fill_form .form_bottom {
    text-align: center;
}


.fill_form .fill_item,
.fill_item {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.fill_form .fill_item label.item_title {
    background-color: #a1a1a1;
    color: #000;
    font-weight: normal;
    padding: 12px 16px;
    font-size: 14px;
    margin-bottom: 0;
}


.fill_form .fill_item label.item_title span.tip {
    color: #FFF;
    font-weight: normal;
}

.fill_form .fill_item label.item_title.must_item:before {
    content: "*";
    color: red;
    font-size: 18px;
    position: absolute;
    left: 20px;
}


.fill_form .fill_item .item_content {
    background-color: #e3e3e3;
    padding: 5px;
}


.fill_form .fill_item.horizontal label.item_title,
.fill_form .fill_item.horizontal .item_content,
.fill_item.horizontal label.item_title,
.fill_item.horizontal .item_content {
    display: inline-table;
    vertical-align: top;
}

.fill_form .fill_item.horizontal label.item_title {
    width: 120px;
}

.fill_form .fill_item.horizontal .item_content {
    max-width: 100%;
    min-width: calc(100% - 120px);
}

.fill_form .fill_item.horizontal label.item_title.w2 {
    width: calc(100% - 100px);
}

.fill_form .fill_item.horizontal .item_content.w2 {
    min-width: 100px;
}

.fill_form .fill_item.horizontal .item_content.w2 .btn {
    width: 90px;
    overflow: hidden;
}

.fill_form .fill_item.horizontal .item_content.verification_fill .form-control {
    width: 100px;
    float: left;
    margin-right: 8px;
}

.fill_form .fill_item.horizontal .item_content.verification_fill img {
    float: left;
}


@media (max-width: 480px) {

    .fill_form .form_content {
        padding-right: 5px;
        padding-left: 5px;
    }

    .fill_form .fill_item label.item_title {
        padding: 8px 16px;
    }

    .fill_form .fill_item .item_content {
        width: 100%;
        margin-bottom: 12px;
    }

    .fill_form .fill_item.horizontal label.item_title,
    .fill_form .fill_item.horizontal .item_content,
    .fill_item.horizontal label.item_title,
    .fill_item.horizontal .item_content {
        display: block;
        vertical-align: top;
    }

    .fill_form .fill_item.horizontal label.item_title {
        width: 100%;
        margin-bottom: 0;
    }

    .fill_form .fill_item.horizontal .item_content {
        width: 100%;
        margin-bottom: 12px;
    }

    .fill_form .fill_item.horizontal label.item_title.w2 {
        width: 100%;
    }

    .fill_form .fill_item.horizontal .item_content.w2 .btn {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /*.fill_form .form_content {
        padding: 0 15px;
    }*/
}



.form-control {
    border-radius: 5px;
    border-width: 0;
    background-color: #F7F9FB;
}


.form-control.focus {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    border-width: 2px;
    border-color: #FFCC00;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: #F7F9FB;
}



.form-control[readonly] {
    background-color: #eaeaea;
    border-color: transparent;
}


.form-control[readonly]:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: 0px -1px 0 0px transparent inset;
    box-shadow: 0px -1px 0 0px transparent inset;
}


.form-control[disabled] {
    background-color: transparent;
    opacity: 0.5;
}







/*  輸入元件 - 錯誤提示  */

input[type="text"].error,
input[type="password"].error,
select.error,
textarea.error {
    border: 1px solid #fb8988;
    box-shadow: 0 0 0 2px #fb8988 inset;
}

.fill_item .error_message {
    display: none;
    color: #fb8988;
    font-size: 14px;
}



.fill_item .error_message:before {
    content: "\e101";
    display: inline-block;
    color: #fb8988;
    text-align: center;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 20px;

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





/*-----------下拉選單-----------*/

select {
    padding-right: 54px !important;
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/arrow-down.png) !important;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
}

select::-ms-expand {
    display: none;
}





/* 輸入元件 - 上傳照片 */

.pic_upload_box input[type='file'] {
    display: none;
}


.pic_upload_box .pic_view {
    width: 100%;
    height: 200px;
    border: 1px dashed #CCC;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
}

.pic_upload_box .pic_view:after {
    content: "尚未選擇";
    color: #CCC;
    position: absolute;
    z-index: -1;
}


.pic_upload_box .file_info {
    color: #CCC;
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
}

.pic_upload_box .btn_browse {
    width: auto;
}



/*----------- 檔案上傳元件 -----------*/
.file_upload .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file_upload .inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.file_upload .inputfile+label * {
    pointer-events: none;
}






/*---------------------- modal 樣式 -----------------------*/


/*  modal(web) - 基本樣式  */

.modal.web_modal .modal-header,
.modal.web_modal .modal-footer {
    border: 0;
}

.modal.web_modal .modal-footer {
    padding-top: 0;
}


.modal.web_modal .modal-footer .btn_group.one_two .btn {
    width: calc(50% - 5px);
}


.modal.web_modal .modal-body {
    overflow: hidden;
    width: 100%;
    padding-top: 0;
}

.modal.web_modal .modal-content {
    background: #eaeaea;
}








/*  modal(mobile) - 基本樣式  */

.modal.mobile_modal .btn_close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 999;
    text-shadow: 0 0px 0 #fff;
    opacity: 1;
    transition: all .2s ease-out;
}

.modal.mobile_modal .modal-dialog {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal.mobile_modal .modal-content {
    overflow: auto;
    border: 0;
    border: 0;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal.mobile_modal .modal-header {
    border-bottom: none;
}


.modal.mobile_modal .modal-body {
    padding: 35px 20px 20px 20px;
}


.modal.mobile_modal .modal-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}


.modal.mobile_modal .modal-body>.btn {
    width: 100%;
}








/*  modal - 提示  */

.modal .modal_mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.alert_modal .modal-dialog {
    width: 100%;
    max-width: 320px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}


.modal.alert_modal .modal-header {
    border-bottom: 0;
    text-align: center;
    padding-bottom: 0;
}

.modal.alert_modal .modal-body {
    float: left;
    width: 100%;
    text-align: center;
    /*padding: 0 15px;*/
}

.modal.alert_modal .modal-body p {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}

.modal.alert_modal .modal-body input {
    text-align: center;
}

.modal.alert_modal .modal-footer {
    clear: both;
    border-top: 0;
    text-align: center;
}

.modal.alert_modal .modal-footer .btn {
    width: calc(50% - 8px);
}





.modal.alert_modal .notice_icon {
    width: 70px;
    height: 70px;
    background-image: url(../icon/dialog_icon_notice.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto 10px auto;
}



.lightbox .box_content .notice_icon.icon_notice {
    background-image: url(../icon/dialog_icon_notice.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal.alert_modal .notice_icon.icon_success {
    background-image: url(../icon/dialog_icon_success.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.modal.alert_modal .notice_icon.icon_fail {
    background-image: url(../icon/dialog_icon_fail.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.modal.alert_modal .notice_icon.icon_error {
    background-image: url(../icon/dialog_icon_error.svg);
    background-position: center;
    background-repeat: no-repeat;
}


.modal.alert_modal .notice_icon.icon_loading {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
    background-color: #FFBB33;
    background-image: url(../icon/icon_update.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px;
    animation: turningIcon 1s linear infinite;
    -moz-animation: turningIcon 1s linear infinite;
    -webkit-animation: turningIcon 1s linear infinite;
    -o-animation: turningIcon 1s linear infinite;
}










/*  modal - 提示(錯誤警示)  */

.modal.alert_modal.error_modal {
    background: #f45656;
}


.modal.alert_modal.error_modal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}

.modal.alert_modal.error_modal .modal-content p {
    padding: 15px 0;
}


.modal.alert_modal.error_modal .modal-content .sub_text {
    /*color: #f9c8c8;*/
    color: #FFEB3B;
    margin-top: 10%;
    font-size: 18px;
    letter-spacing: 2px;
}






/*  modal - 提示(Loading)  */

.modal.alert_modal.loading_modal {
    background: transparent;
}


.modal.alert_modal.loading_modal .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
    color: #FFF;
}





/*---------- 文字連結 -----------*/

.link_text {
    font-size: 14px;
    color: #30B2EB;
    text-decoration: underline;
    cursor: pointer;
}

.link_text:hover {
    color: #22a5de;
}






/*---------- 重要文字 -----------*/

.important_text {
    color: #FF5E5D;
}






/*---------- 提醒 -----------*/
.alert {
    margin: 5px 0;
    border-radius: 5px;
}

.alert-danger {
    color: #ff5e5d;
    background-color: #fff0f0;
    border-color: #fff0f0;
}








/*----------- HTML標籤初始化 ------------*/

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
}


/*------------- Bootstrap調整 -------------*/
@media (min-width: 992px) {
    .container {
        width: 1000px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}